.custom_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
  background-color: var(--main-color);
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  line-height: 30px;
  min-width: 100px;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* .btn-container>a {
  text-decoration: none;
} */

.custom_btn:hover {
  background-color: rgb(252, 182, 54);
  color: #000;
}

.btn_icon_container {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  height: 25px;
  width: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_icon_container > .MuiSvgIcon-root {
  font-size: 16px;
}

.btn_text {
  font-size: 14px;
  text-transform: none;
  text-align: center;
  width: 100%;
  margin-left: 5px;
}
