.profile {
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  display: inline-block;
 
}

.profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}

.profile_name .title {
  font-size: 13px;
  color: #777;
}

.profile_img {
  margin-top: -18px;
  /* -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%); */
}

.profile_img img {
  
  /* width: 100%; */
  object-fit: contain;
  height: 258px;
  /* width: 380px !important; */

  /* transition: transform 0.5s; */
}

/* .profile_img img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
} */

.profile_info {
  top: 0;
  left: 0;
  margin: -40px 10px 30px;
}

.profile_info .timeline .timeline_content {
  margin-top: 2px;
  margin-bottom: 12px;
}

.timelineItem_text {
  font-size: 14px !important;
  color: #777;
  font-weight: 400;
}

.timelineItem_text > a {
  text-decoration: none;
}

.timelineItem_text > span {
  color: var(--main-color);
}

.btn-container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

span.carousel-control-prev-icon {
  visibility: hidden;
}

span.carousel-control-next-icon {
  visibility: hidden;
}

@media screen and (max-width: 1279px) {
  .profile {
    margin-left: 38%;
    
  }
  .profile_info {
    

  }
  .profile_img img {
    
    object-fit: contain;
    height: 258px;
   
  
    transition: transform 0.5s;
  }

}

@media screen and (max-width: 959px) {
  .profile {
    margin-left: 27%;
  }
}
@media screen and (max-width: 599px) {
  .profile {
    margin-left: 0;
  }
}
