.header {
  margin-bottom: 30px;
  background-color: whitesmoke;
  padding: 0 22px 0 0;
  border-radius: 6px;
  box-shadow: 8px 2px 92px 0px rgba(0, 0, 0, .2);
}

.header_link {
  font-weight: 500;
  color: darkslategray !important;
}

.header_link:hover {
  color: var(--main-color) !important;
}

.header_link_active {
  font-weight: 500;
  color: var(--main-color) !important;
}

.header_home {
  background-color: var(--main-color) !important;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

/* ?? */

.header_left {
  margin-right: auto;
}

a>.MuiSvgIcon-root {
  font-size: 20px;
  margin-right: 10px;
  color: black;
}