.custom-card {
  height: 100%;
  max-width: 350px;
  overflow: hidden;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(230, 104, 66, 0.596)
  );
  /* background: linear-gradient(
    120deg,
    #1f005c,
    #5b0060,
    #870160,
    #ac255e,
    #ca485c,
    #e16b5c,
    #f39060,
    #ffb56b
  ); */
}

.custom-card:hover {
  transition: 0.3s !important;
  box-shadow: 0 0 15px rgba(73, 71, 71, 0.5);
}

.custom-card_image {
  height: 140px;
}

.MuiDialog-paper {
  border-radius: 8px;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(230, 104, 66, 0.596)
  );
}

.MuiCardMedia-img {
  object-fit: contain !important;
}

.projectModal_image {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  object-position: center center;
}
