.footer {
  background-color: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  border-radius: 8px;
  padding: 8px 16px;
}