:root {
  --main-color: #f27405;
  --signature-color: rgba(255, 0, 0, 0.521);
}

.orange {
  color: var(--main-color);
}

/* Margins and paddings */

.top-margin {
  margin-top: 50px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_bottom_30 {
  margin-bottom: 30px !important;
}

.padding_30 {
  padding: 30px !important;
}

.padding_bottom_45 {
  padding-bottom: 45px !important;
}

.container_shadow {
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);
}

.main_content {
  background-color: whitesmoke;
  height: 642px;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px;
}

.section_title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section_title .section_title_text {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title span {
  position: absolute;
  height: 5px;
  width: 100%;
  opacity: 0.7;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
}

.graybg {
  background-color: #fafafa;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 991px) {
  .top-margin {
    margin-top: 25px;
  }
  .main_content {
    height: auto;
  }
}
