:root {
  --main-color: #F27405
}

/* Margins and paddings */

.top-margin {
  margin-top: 50px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_bottom_30 {
  margin-bottom: 30px !important;
}

.padding_30 {
  padding: 30px !important;
}

.padding_bottom_45 {
  padding-bottom: 45px !important;
}

@media (max-width:991px) {
  .top-margin {
    margin-top: 25px
  }
}

.container_shadow {
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);
}

.main_content {
  background-color: whitesmoke;
  min-height: 100vh;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 30px;
}

.section_title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section_title .section_title_text {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title span {
  position: absolute;
  height: 5px;
  width: 100%;
  opacity: .7;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
}