.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 16px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-radius: 20px;
  color: whitesmoke;
  padding-left: 8px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1.2s ease ;
}

@media only screen and (max-width: 768px) {
  .progress-done {
    transition: none ;
  }
}